@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap");
:root {
  --purple: #673ab7;
}
body {
  width: 99%;
  margin: 10px auto 0 auto !important;
}
* {
  font-family: "Poppins", sans-serif !important;
}
a:hover {
  color: lightgrey !important;
}
.MuiInputBase-input,
.MuiInputBase-root {
  max-width: 300px !important;
}

.textArea:focus-visible {
  outline: 2px solid var(--purple) !important;
}

.MuiLoadingButton-root {
  color: var(--purple) !important;
}

input::placeholder {
  font-size: smaller !important;
}

textarea:disabled {
  background-color: rgba(237, 231, 246) !important;
}
