@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --red: #990909;
  --darkred: rgb(126, 0, 0);
  --text: #363636;
  --lighttext: #e7e7e7;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: var(--text);
}

.wrapper {
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 160px;
  height: 50px;
  width: 100%;
  background-color: var(--red);
}

.breadcrumb {
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.breadcrumb li {
  color: var(--lighttext);
  padding: 0.3em;
}

.breadcrumb-item:hover {
  cursor: pointer;
  color: white;
}

main {
  min-height: calc(100vh - 50px);
  display: flex;
  text-align: center;
}

aside {
  min-width: 150px;
  color: var(--lighttext);
  background-color: var(--red);
}

.aside-navigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0 20px;
  padding: 0;
}

.aside-navigation li {
  color: var(--lighttext);
  width: 150px;
  padding: 10px 5px;
  border-radius: 25px;
  margin: 10px 0;
  transition: 0.3s all;
}

.aside-navigation li:hover {
  cursor: pointer;
  color: white;
  background-color: var(--darkred);
}

.content {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  width: 100%;
  background-color: #ececec;
}

input {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  height: 32px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
}

textarea {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--red);
  transform: scale(1.4);
}

input[type="radio"] {
  cursor: pointer;
  accent-color: var(--red);
  transform: scale(1.4);
}
input::placeholder {
  font-size: 0.8rem;
  color: gray;
}
input[type="number"] {
  /*   max-width: 10ch; */
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

button {
  border-radius: 4px;
  padding: 8px;
  border: none;
  background-color: var(--red);
  color: #fff;
  transition: 0.3s all;
  cursor: pointer;
  box-shadow: 0 0 5px 1px lightgrey;
}

button i {
  color: #fff;
}

button:hover {
  background-color: var(--darkred);
}

form {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.labelInput {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 1em 0.5em;
  border: 1px solid lightgrey;
  margin: 1em 0;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

.checkboxSelection {
  display: flex;
  gap: 20px;
  align-items: center;
}

table {
  position: relative;
  border-collapse: collapse;
  border: 1px solid lightgrey;
}

thead {
  background-color: var(--red);
}
th {
  padding: 0.5em;
  color: white;
  font-weight: normal;
}
td {
  padding: 0.25em;
}
tr:nth-child(even) {
  background-color: lightgrey;
}

.celdaIcono {
  cursor: pointer;
  color: var(--red);
}

.celdaIcono:hover {
  cursor: pointer;
  color: black;
}

.asignatura {
  background-color: lightgrey;
  font-size: 14px;
  padding: 8px;
  border-radius: 25px;
  min-width: 450px /* 375px */;
}

.asignatura i:hover {
  cursor: pointer;
}

.autocomplete-item {
  text-transform: capitalize;
  border-radius: 25px;
  transform: 0.3s all;
  padding: 5px 15px;
  margin: 5px 0;
}

.autocomplete-item:hover {
  cursor: pointer;
  color: white;
  background-color: var(--red);
}
.agregar {
  display: grid;
  border-radius: 25px;
  place-items: center;
  width: 40px;
  height: 40px;
}
